@font-face {
	font-family: 'Metropolis-SemiBold';
	src: url('../fonts/metropolis-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/metropolis-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/metropolis-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/metropolis-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/metropolis-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/metropolis-semibold.svg#metropolis-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}